<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        button:hover {
            background-color: #a58142;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body class="bg-gray-100">
    <header>
        <%- include("header.ejs") %>
        <div class="flex justify-end">
            <a href="/signout" class="text-lg mt-25 font-semibold bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4 mb-4">Sign Out</a>
        </div>
    </header>
    <div class="flex justify-end">
        <a href="/signout" class="text-lg mt-25 font-semibold bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4 mb-4">Sign Out</a>
    </div>
    <div class="mx-20 my-10 gap-1">
        <div id="page-container">
            <% if (pages.length > 0) { %>
                <% pages.forEach(function(page, index) { %>
                    <div class="page hidden"> 
                           <div class="hover-bg-gray-500 transition ease-in-out cursor-pointer relative mb-4 rounded-lg border border-gray-300 bg-white p-4">
                                <h2 class="mb-2 mx-25 text-lg font-bold">Page <%= index + 1 %>: <%= page.title %></h2>
                                <p class="col-span-2 mx-100 text-lg text-gray-600"><%= page.content %></p>
                            </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p class="col-span-2 mx-100 text-lg text-gray-600">No Pages available.</p>
            <% } %>
        </div>
        
        <div class="absolute bottom-10 left-10 right-10 rounded-lg border border-gray-300 bg-white p-4 text-center">
            <button class="rounded-lg border border-gray-300 bg-white p-3 absolute left-2" id="prev-button" onclick="showPreviousPage()">Previous</button>
            <button class="rounded-lg border border-gray-300 bg-white p-3 mx-auto" id="markascompleted-button" onclick="markAsCompleted()">Mark as Completed</button>
            <button class="rounded-lg border border-gray-300 bg-white p-3 w-28 absolute right-2" id="next-button" onclick="showNextPage()">Next</button>
        </div>
        
       
    </div>
    
    <footer>
        <%- include("footer.ejs") %>
    </footer>
    <script>
        const pages = document.querySelectorAll(".page");
        let currentPageIndex = 0;

        function showPage(pageIndex) {
            pages.forEach((page, index) => {
                if (index === pageIndex) {
                    page.classList.remove("hidden");
                } else {
                    page.classList.add("hidden");
                }
            });
            currentPageIndex = pageIndex;
        }

        function showNextPage() {
            if (currentPageIndex < pages.length - 1) {
                showPage(currentPageIndex + 1);
            }
        }

        function showPreviousPage() {
            if (currentPageIndex > 0) {
                showPage(currentPageIndex - 1);
            }
        }

        function markAsCompleted() {
            const markAsCompletedButton = document.getElementById("markascompleted-button");
            markAsCompletedButton.innerHTML = `
                
                Completed
            `;
            markAsCompletedButton.disabled = true;
        }
        
        showPage(0);
    </script>
</body>
</html>
